body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #111;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    border-bottom: 1px solid #eee;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero button {
    padding: 12px 30px;
    border: none;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.products {
    padding: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    height: 250px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features {
    background: #f9f9f9;
    padding: 40px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #eee;
}
.card {
    height: 280px;        /* controls poster box height */
    border: 1px solid #ddd;
    overflow: hidden;     /* hides extra image part */
    display: flex;
    align-items: center;
    justify-content: center;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;  /* VERY IMPORTANT */
}
