body{
    background-color: rgb(128, 172, 176);
    color: white;
}
td{
    border: 2px solid black;
}
th{
    background-color: rgb(79, 63, 110);
}
td{
    background-color: rgb(20, 61, 77);
}